.header2-Family {
  width: 100%;
  justify-content: space-between;
  background-size: cover;

  background-repeat: no-repeat;

  background-color: #4b0082;
}
.discr-shop-club-Family {
  
  font-style: normal;
  font-weight: 800;
margin-top: 3%;
  margin-left: 38%;
  font-size: 25px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: black;
}
.discr-shop-club2-Family {
  font-weight: thin;
  font-style: normal;
  font-weight: 400;
  margin-left: 18%;

  font-size: 16px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;

  color: #ffff;
}
.bg-color-Family {
  padding-top: 3%;
  height: 24vh;
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-color-wh {
  background-color: rgba(255, 255, 255, 0.5);
}
.Decor {
  background-image: url(images/BgGat.jpg);
  height: 30vh;
  border-bottom: 12px solid rgba(171, 21, 44, 0.8);
  justify-content: space-between;
  background-size: cover;

  background-repeat: no-repeat;
}
.Name-Game h2 {
  margin-top: 3%;
  margin-left: 18%;
  color: #ffff;
  font-weight: 600;
  font-size: 35px;
}
.Name-Game {
  width: 100%;
  position: relative;
}
/* Cards */
.Card1-menu {
  position: absolute;

  border-radius: 7px;
  padding: 1% 0.5%;
  transition: transform 0.3s ease-in-out;

  background-color: black;
  width: 13em;
  height: 19.5em;
  scroll-snap-align: start;
}

.second-bg-menu {
  background-image: url(images/SecondBg.png);
  height: 21.875em;
  width: 14.4375em;
  border-radius: 15px;
  margin-left: 4%;

  background-size: cover;
  z-index: 0;
  position: relative;

  background-repeat: no-repeat;
}
.product-image-menu {
  margin-left: 10%;
  padding-top: 17%;
}
.product-name-menu {
  color: black;
}
.oval1-menu {
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 4%;
  margin-left: 2%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.third-bg-menu {
  background-color: #b7c4c5;
  border-radius: 8px;
  position: absolute;
  margin-top: 20%;
  margin-left: 9%;
  height: 18.125em;
  width: 11.9375em;
  align-items: center;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.product-price-menu {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.875em;
  margin-top: -5%;
  margin-left: 25%;
}
.product-action-menu {
  margin-left: 3%;
}
.oval2-menu {
  color: white;
  padding-top: 3%;

  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 10%;
  margin-right: 50%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.oval2-menu a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-left: 0px;
}
.product-buy-menu {
  margin-top: 28%;
  margin-left: 20%;
}
.product-buy-menu a {
  text-decoration: none;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
}
.my-slider {
  width: 730px;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-right: 12%;
}

.my-slider-inner {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s;
}

.my-slider-inner img {
  width: 100%; /* Устанавливаем ширину каждого изображения на 100% от слайдера */
  height: auto;
  object-fit: cover;
}
.CardsMenu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  height: 100vh;
  margin-top: 2%;
}
.Categories {
  position: absolute;
  margin-top: 22%;
  width: 18%;
  background-image: url(images/Rectangle315.png);
  height: 1060px;
  border-radius: 10px;
  margin-left: 0.2%;
}
.game-cat {
  list-style-type: none;
  font-size: 13px;
  background-image: url(images/Rectangle315.png);
  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  cursor: pointer;
  margin-left: -10%;
}
.game-cat li {
  margin-bottom: 20px;
}
.game-cat h2 {
  font-size: 20px;
  color: #fff;
  word-wrap: break-word;
}
#product-container {
  display: flex;
  justify-content: flex-start;

  align-items: center;
}
.product-card {
  margin-left: 16%;
  flex-direction: column;
  margin-top: 45%;
}
.list {
  list-style-type: none;
  transition: all 0.5s ease;
  list-style-type: none;
  font-size: 13px;
  margin-left: -25%;

  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  cursor: pointer;
}
.list h2 {
  font-size: 22px;
  color: #fff;
  word-wrap: break-word;
}

.list-item {
  cursor: pointer;
  transition: all 0.5s ease;
  list-style-type: none;
}

.sublist {
  list-style-type: none;
  height: 20%;
  opacity: 1;
  transition: height 0.3s, opacity 0.3s;
  margin-top: -2%;
  width: 80%;
}

.sublist.visible {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.input-container {
  display: flex;
  justify-content: flex-start;

  align-items: center;
}
.polzunok {
  margin-top: 7%;
}

.input-container input[type="text"],
.input-container button {
  margin-right: 10px;
  width: 80%;
}
/* Polzunok */
.polzunok {
  /* Удаляет стандартный стиль для ползунка в WebKit браузерах */
  width: 70%; /* Задает ширину ползунка */
  height: 7px; /* Задает высоту ползунка */
  background-color: rgba(244, 205, 50, 0.8); /* Задает цвет фона ползунка */
  border-radius: 5px; /* Задает скругление углов ползунка */
  position: relative;
}

.polzunok::-webkit-slider-thumb {
  -webkit-appearance: none; /* Удаляет стандартный стиль для ползунка в WebKit браузерах */
  appearance: none; /* Удаляет стандартный стиль для ползунка в остальных браузерах */
  width: 15px; /* Задает ширину бегунка ползунка */
  height: 15px; /* Задает высоту бегунка ползунка */
  background-color: rgba(11, 9, 1, 1); /* Задает цвет бегунка ползунка */
  cursor: pointer; /* Задает курсор при наведении на бегунок ползунка */
  border-radius: 50%; /* Задает круглую форму бегунка ползунка */
}
/* Nayavnist */

.check-nav {
  border: none;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}
label {
  margin-right: 45%;

  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.check {
  border: none;
}
.con-check {
  white-space: nowrap;
  border: none;
  margin-top: 6%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.con-check1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Pidkazka */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  font-size: 10px;
  visibility: hidden;
  width: 150px;
  background-color: #fff;
  color: #000;
  border: #000;
  border-style: solid;

  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;

  bottom: 90%;

  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.button-dost {
  margin-top: 1530px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #101f27;
  border: 3px solid #fff;
  width: 192%;
  cursor: pointer;
}
.button-dost p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  align-items: center;
  font-size: 18px;
}
.footerGame {
  margin-top: 5%;
  position: absolute;
  margin-bottom: 0%;

  width: 100%; /* установите ширину футера на 100% */
  height: 10%; /* прикрепите футер к нижней части контейнера */
  background-color: #0a090f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Sorting {
  margin-top: 4%;
  margin-bottom: -2%;
  padding-left: 40%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Sorting h3 {
  color: #fff;
  margin-right: 5%;
}
.sort-btn {
  color: #fff;
  background-color: #4b0082;
  margin-right: 0.5%;
  border-radius: 3px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}
.sort-btn:hover {
  background-color: rgba(187, 46, 227, 1);
}
.main-item {
  transition: color 0.3s ease;
}
.card-Cat {
  margin-left: -3%;
}
.main-item:hover {
  color: rgba(187, 46, 227, 1);
}
.main-item1 {
  transition: color 0.3s ease;
}

.main-item1:hover {
  color: rgba(187, 46, 227, 1);
}
.Questions {
  margin-top: 56%;
  margin-left: 22%;
  width: 100%;
}
.Questions h2 {
  font-size: 15px;
  margin-left: 0%;
  color: #fff;
}
.Questions p {
  padding-top: 2%;
  color: #fff;
  font-size: 15px;
  line-height: 2;
}
.block-quest {
  border-radius: 3px;

  width: 70%;
  border-bottom: 2px /* width */ solid /* style */ #b7c4c5 /* color */;
  padding-bottom: 1%;
}
.main-item i {
  padding-top: 2%;
}
.sublist1 {
  list-style-type: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;
  margin-top: -2%;
  width: 96%;
}

.sublist1.visible {
  height: 20%;
  opacity: 1;
}
.fa-chevron-down {
  float: right;
}
.mi2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
