body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-image: url(images/bgimg2.png);

  /* width: 100%; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}
@media (min-width: 768px) {
  body {
    max-width: 1600px;
    overflow-x: hidden;
  }
}
.header1 {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  white-space: nowrap;
}

.logo {
  margin-left: 20%;
  white-space: nowrap;
}
.logo-img {
  width: 180px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 244px;
  }
}

.phone {
  margin-right: 15%;
  position: relative;
  white-space: nowrap;
}
.number {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: color 0.3s linear;
  white-space: nowrap;
}
.phone-holder {
  display: flex;
  align-items: center;
  margin-left: 10%;
  white-space: nowrap;
}
.num {
  margin-left: 8px;
  white-space: nowrap;
}

.cart-holder {
  display: flex;
  align-items: center;
  margin-left: 1%;
}
.profile-holder {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 2%;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .phone-holder {
    margin-left: 20%;
  }
}
.container {
  margin: 0px;
}
.header2 {
  height: 100vh;

  justify-content: space-between;
  background-size: cover;

  background-repeat: no-repeat;

  background-image: url(images/fon26.png);
}
.bg-color {
  background-color: rgba(128, 128, 128, 0.2);
  height: 48px;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 69px;
  transform: color 0.3s linear;
}
.header-line {
  width: 100%;

  display: flex;
  align-items: center;
}
.nav-item:hover {
  color: rgb(165, 85, 81);
}
.number:hover {
  color: #a840ff;
}
.MenuPng {
  margin-left: 245px;
}

.nav {
  margin-top: 6px;
  margin-left: 86px;
}
.MenuHref {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 69px;
  transform: color 0.3s linear;
  margin-left: 4px;
}
.MenuHref:hover {
  color: rgb(165, 85, 81);
}
.discr-shop {
  font-weight: bold;

  margin-left: 230px;
  margin-top: 200px;
  font-size: 49px;
  line-height: 67px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: #ffff;
}
.discr-shop-club {
  font-weight: thin;
  font-style: normal;
  font-weight: 400;
  margin-left: 230px;
  margin-top: 1px;
  font-size: 16px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: #ffff;
}
.discr-shop-club2 {
  font-weight: thin;
  font-style: normal;
  font-weight: 400;
  margin-left: 230px;

  font-size: 16px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;

  color: #ffff;
}
.Button-more {
  border: none;
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 230px;

  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  border-radius: 9px;
  margin-top: 20px;
}
.Menu {
  transform: color 0.3s linear;
  white-space: nowrap;
  border: none;
}
.fa-bars {
  color: #fff;
  margin-left: 245px;
  transform: color 0.3s linear;
}
.Menu:hover .fa-bars {
  color: rgb(165, 85, 81); /* Здесь указываете нужный цвет */
}

/* Стили для иконки при наведении на текст "Каталог" */

.nav-item1 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 20px;
  transform: color 0.3s linear;
}
.nav-item2 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 70px;

  transform: color 0.3s linear;
}
.brends {
  margin-left: 1284px;
  display: flex;
  align-items: center;
}
.fa-instagram {
  transform: color 0.3s linear;
}
.fa-instagram:hover {
  color: #ff69b4;
}
.fa-facebook {
  transform: color 0.3s linear;
}
.fa-facebook:hover {
  color: #00008b;
}
.nav-item2:hover {
  color: rgb(165, 85, 81);
}
.nav-icon {
  margin-right: 8px;
}

/* Content 1 */

.wrapper-game {
  display: flex; /* создаем гибкую обертку */
  justify-content: space-between; /* располагаем блоки слева и справа */
  align-items: center; /* выравниваем элементы по центру */
  height: 100%;
}
.text1-magik {
  color: #fff;
}
.Magic {
  height: 100%;
  min-width: 100%;
  background-image: url(images/bgimg2.png);
  background-size: cover;

  background-repeat: no-repeat;
}
.content-name {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  margin-top: 3%;

  font-size: 35px;
}

.game-list {
  float: right;
  width: 20%;
  margin-left: 15%;
  padding-right: 3%;
}
.game-list h2 {
  color: #fff;
  word-wrap: break-word;
}
.g-list1 {
  list-style-type: none;
  font-size: 13px;
  background-image: url(images/Rectangle315.png);
  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
}
.g-list1 li {
  margin-bottom: 20px;
}
.photo-game {
  width: 60%;

  color: #fff;
}
.game-text {
  text-align: justify;
}
.game-discr {
  width: 83%;
}

.button-photo {
  border-radius: 11px;
  border: none;
  color: #fff;
  background-image: url(images/RectangleButton.png);
  width: 25%;
  height: 10%;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;

  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  background-size: cover;

  background-repeat: no-repeat;
}

/* Magic2 */
.Magic1 {
  background-size: cover;
  position: absolute;
  background-image: url(images/bgimg2.png);

  height: 100%;
  min-width: 100%;

  z-index: 0;
}
.Text-special h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 3%;
}
.Nazad {
  border: none;
  background-color: white;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  margin-top: 10%;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 1%;

  border-radius: 9px;
}
.Vpered {
  border: none;
  background-color: white;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  margin-top: 10%;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 95%;

  border-radius: 9px;
}
.Card-line {
  margin-left: 4%;
  margin-top: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.Card1 {
  position: absolute;

  border-radius: 7px;
  padding: 1% 0.5%;
  transition: transform 0.3s ease-in-out;

  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card1:hover {
  transform: scale(1.1);
}
.Card2:hover {
  transform: scale(1.1);
}
.Card3:hover {
  transform: scale(1.1);
}
.Card4:hover {
  transform: scale(1.1);
}
.second-bg {
  background-image: url(images/SecondBg.png);
  height: 21.875em;
  width: 14.4375em;
  border-radius: 15px;
  margin-left: 4%;

  background-size: cover;
  z-index: 0;
  position: relative;

  background-repeat: no-repeat;
}
.product-image {
  margin-left: 10%;
  padding-top: 17%;
}
.product-name {
  color: black;
}
.oval1 {
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 4%;
  margin-left: 2%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.third-bg {
  background-color: #b7c4c5;
  border-radius: 8px;
  position: absolute;
  margin-top: 20%;
  margin-left: 9%;
  height: 18.125em;
  width: 11.9375em;
  align-items: center;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.product-price {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.875em;
  margin-top: -5%;
  margin-left: 25%;
}
.product-action {
  margin-left: 3%;
}
.oval2 {
  color: white;
  padding-top: 3%;

  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 111%;
  margin-right: 50%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.oval2 a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-left: 0px;
}
.product-buy {
  margin-top: 28%;
  margin-left: 20%;
}
.product-buy a {
  text-decoration: none;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
}
.Card2 {
  position: absolute;
  margin-left: 25%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card3 {
  position: absolute;
  margin-left: 50%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card4 {
  position: absolute;
  margin-left: 75%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card5 {
  position: absolute;
  margin-left: 100%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card6 {
  position: absolute;
  margin-left: 125%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card7 {
  position: absolute;
  margin-left: 150%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  width: 700%; /* 8 карточек */
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 12.5%; /* одна восьмая часть контейнера */
  flex-shrink: 0;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.Buy-time h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 18%;
}
/* Section with news */
.Magic2 {
  background-size: cover;

  background-image: url(images/bgimg2.png);
  z-index: 0;

  height: 100%;
  min-width: 100%;
}
.Activities-text {
  padding-top: 2%;
}
.Activities-text h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 16%;
}
.News-line {
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}
.FirstNew {
  position: absolute;

  border-radius: 7px;

  background-color: black;
  width: 35em;
  height: 21.5em;
}
.sb-new {
  background-color: #101f27;

  height: 19.5em;
  width: 33em;
  border-radius: 15px;
  margin-left: 3%;
  margin-top: 3%;
  background-size: cover;
  z-index: 0;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */

  background-repeat: no-repeat;
}
.tb-new {
  background-color: #101f27;
  border-radius: 8px;
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
  z-index: 1;
  height: 18.4em;
  width: 32.3em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}

.image-for-news {
  display: flex;
  position: absolute;
  z-index: 0;
  border-radius: 11px;
}
.News-oval {
  color: white;
  padding-top: 3%;
  margin-left: 1%;
  margin-top: 1%;

  width: 34em;
  height: 3em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;

  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}
.bottom-oval {
  background-color: #101f27;
  border-radius: 18px;

  margin-top: -15%;
  position: relative;
  z-index: 3;
  height: 5em;
  width: 35em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}

.News-oval a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-left: 0px;
}
.SecondNew {
  position: absolute;
  margin-left: 40%;
  border-radius: 7px;

  background-color: black;
  width: 35em;
  height: 21.5em;
}
/* Acceries */
.Accesories h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 2%;
}
/* Interesting info */
.Interesting-info {
  width: 100%;
  height: 100%;
}
