body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-image: url(/images/BgProbnik4.png);
  background-size: 100%;
  min-height: 100vh;
  /* width: 100%; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}
@media (min-width: 768px) {
  body {
    max-width: 1600px;
    overflow-x: hidden;
  }
}
html{
  height: 100%;
}
.header1 {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  white-space: nowrap;
}

.logo {
  margin-left: 20%;
  white-space: nowrap;
}
.logo-img {
  width: 180px;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .logo {
    margin-left: 244px;
  }
}

.phone {
  margin-right: 15%;
  position: relative;
  white-space: nowrap;
}
.num {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  
  white-space: nowrap;
}
.fa-phone{
  margin-right: 5%;
}

.phone-holder {
  display: flex;
  align-items: center;
  margin-left: 10%;
  white-space: nowrap;
}


.cart-holder {
  display: flex;
  align-items: center;
  margin-left: 1%;
}
.profile-holder {
  display: flex;
  align-items: center;
  margin-left: 30%;
  margin-right: 2%;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .phone-holder {
    margin-left: 20%;
  }
}
.container {
  margin: 0px;
}
.header2 {
  height: 100vh;
width: 100%;
  justify-content: space-between;
  background-size: cover;

  background-repeat: no-repeat;

  background-image: url(/images/fon26.png);
}
.bg-color {
  background-color: rgba(128, 128, 128, 0.2);
  height: 48px;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 69px;
  transform: color 0.3s linear;
}
.header-line {
  width: 100%;

  display: flex;
  align-items: center;
}
.nav-item:hover {
  color: rgb(165, 85, 81);
}
.num:hover {
  color: #BA55D3;
}
.MenuPng {
  margin-left: 245px;
}

.nav {
  margin-top: 6px;
  display: flex;
  align-items: center;
  margin-left: 18%;
}
.MenuHref {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 69px;
  transform: color 0.3s linear;
  margin-left: 4px;
}
.MenuHref:hover {
  color: rgb(165, 85, 81);
}
.discr-shop {
  font-weight: bold;

  margin-left: 230px;
  margin-top: 200px;
  font-size: 49px;
  line-height: 67px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: #ffff;
}
.discr-shop-club {
  font-weight: thin;
  font-style: normal;
  font-weight: 400;
  margin-left: 230px;
  margin-top: 1px;
  font-size: 16px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  color: #ffff;
}
.discr-shop-club2 {
  font-weight: thin;
  font-style: normal;
  font-weight: 400;
  margin-left: 230px;

  font-size: 16px;
  line-height: 23px;
  line-height: 100%;
  align-items: Left;

  color: #ffff;
}
.Button-more {
  border: none;
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 230px;

  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  border-radius: 9px;
  margin-top: 20px;
}
.Menu {
  transform: color 0.3s linear;
  white-space: nowrap;
  border: none;
}
.fa-bars {
  color: #fff;
  margin-left: 10%;
  transform: color 0.3s linear;
}
.Menu:hover .fa-bars {
  color: rgb(165, 85, 81); /* Здесь указываете нужный цвет */
}


/* Стили для иконки при наведении на текст "Каталог" */
.Phone{
  transform: color 0.3s linear;
}
.Phone:hover .fa-phone {
  color: #BA55D3; /* Здесь указываете нужный цвет */
}
.nav-item1 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 20px;
  transform: color 0.3s linear;
}
.nav-item2 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
  margin-right: 70px;

  transform: color 0.3s linear;
}
.brends {
  margin-left: 1284px;
  display: flex;
  align-items: center;
}
.fa-instagram {
  transform: color 0.3s linear;
}
.fa-instagram:hover {
  color: #ff69b4;
}
.fa-facebook {
  transform: color 0.3s linear;
}
.fa-facebook:hover {
  color: #00008b;
}
.nav-item2:hover {
  color: rgb(165, 85, 81);
}
.nav-icon {
  margin-right: 8px;
}

/* Content 1 */

.wrapper-game {
  display: flex; /* создаем гибкую обертку */
  justify-content: space-between; /* располагаем блоки слева и справа */
  align-items: center; /* выравниваем элементы по центру */
  height: 100%;
}
.text1-magik {
  color: #fff;
}
.Magic {
  height: 100%;
  width: 100%;
  background-image: url(/images/BgProbnik4.png);
  background-size: 100%;
}
.content-name {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  margin-top: 3%;

  font-size: 35px;
}

.game-list {
  float: right;
  width: 20%;
  margin-left: 15%;
  padding-right: 3%;
}
.game-list h2 {
  color: #fff;
  word-wrap: break-word;
  
}
.g-list1 {
  list-style-type: none;
  font-size: 13px;
  background-image: url(/images/Rectangle315.png);
  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  
}
.g-list1 li {
  margin-bottom: 20px;
  
}
.photo-game {
  width: 60%;

  color: #fff;
}
.game-text {
  text-align: justify;
}
.game-discr {
  width: 83%;
}

.button-photo {
  border-radius: 11px;
  border: none;
  color: #fff;
  background-image: url(/images/RectangleButton.png);
  width: 25%;
  height: 10%;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1%;

  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  background-size: cover;

  background-repeat: no-repeat;
}

/* Magic2 */
.Magic1 {
  
  background-image: url(/images/BgProbnik4.png);
  background-size: 100%;

  height: 100%;
  min-width: 100%;

  z-index: 0;
}
.Text-special h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 3%;
}
.Nazad {
  border: none;
  background-color: white;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  margin-top: 10%;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 1%;

  border-radius: 9px;
}
.Vpered {
  border: none;
  background-color: white;
  color: black;
  padding: 1% 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 10px;
  margin-top: 10%;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-left: 95%;

  border-radius: 9px;
}

.Card-line {
  overflow: visible;
  margin-left: 10%;
  margin-top: 16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: relative;
        
        white-space: nowrap;
        width: 90%;
  
        
}

.Card1 {
  position: absolute;

  border-radius: 7px;
  padding: 1% 0.5%;
  transition: transform 0.3s ease-in-out;

  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card-slider{
  
    
  
    border-radius: 7px;
    padding: 1% 0.5%;
    transition: transform 0.3s ease-in-out;
  
    background-color: black;
    width: 15.8em;
    height: 21.5em;
    
  
}
.Card1:hover {
  transform: scale(1.1);
}
.Card2:hover {
  transform: scale(1.1);
}
.Card3:hover {
  transform: scale(1.1);
}
.Card4:hover {
  transform: scale(1.1);
}
.second-bg {
  background-image: url(/images/SecondBg.png);
  height: 21.875em;
  width: 14.4375em;
  border-radius: 15px;
  margin-left: 4%;

  background-size: cover;
  z-index: 0;
  position: relative;

  background-repeat: no-repeat;
}
.product-image {
  margin-left: 10%;
  padding-top: 17%;
}
.product-name {
  color: black;
}
.oval1 {
  color: white;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 4%;
  margin-left: 2%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.third-bg {
  background-color: #b7c4c5;
  border-radius: 8px;
  position: absolute;
  margin-top: 20%;
  margin-left: 9%;
  height: 18.125em;
  width: 11.9375em;
  align-items: center;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.product-price {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.875em;
  margin-top: -5%;
  margin-left: 25%;
}
.product-action {
  margin-left: 3%;
}
.oval2 {
  color: white;
  padding-top: 3%;

  position: absolute;
  width: 13.75em;
  height: 2.1em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;
  margin-top: 111%;
  margin-right: 50%;
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
}
.oval2 a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  margin-left: 0px;
}
.product-buy {
  margin-top: 28%;
  margin-left: 20%;
}
.product-buy a {
  text-decoration: none;
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
}
.Card2 {
  position: absolute;
  margin-left: 23%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card3 {
  position: absolute;
  margin-left: 46%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card4 {
  position: absolute;
  margin-left: 69%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card5 {
  position: absolute;
  margin-left: 100%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card6 {
  position: absolute;
  margin-left: 125%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.Card7 {
  position: absolute;
  margin-left: 150%;
  border-radius: 7px;
  padding: 1% 0.5%;

  transition: transform 0.3s ease-in-out;
  background-color: black;
  width: 15.8em;
  height: 21.5em;
  scroll-snap-align: start;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  width: 700%; /* 8 карточек */
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  width: 12.5%; /* одна восьмая часть контейнера */
  flex-shrink: 0;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

.Buy-time h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 18%;
}
/* Section with news */
.Magic2 {
  background-size: cover;

  background-image: url(/images/BgProbnik4.png);
  background-size: 100%;
  z-index: 0;

  height: 100%;
  min-width: 100%;
}
.Activities-text {
  padding-top: 2%;
}
.Activities-text h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 16%;
}
.News-line {
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}
.FirstNew {
  position: absolute;

  border-radius: 7px;

  background-color: black;
  width: 35em;
  height: 21.5em;
}
.sb-new {
  background-color: #101f27;

  height: 19.5em;
  width: 33em;
  border-radius: 15px;
  margin-left: 3%;
  margin-top: 3%;
  background-size: cover;
  z-index: 0;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */

  background-repeat: no-repeat;
}
.tb-new {
  background-color: #101f27;
  border-radius: 8px;
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
  z-index: 1;
  height: 18.4em;
  width: 32.3em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}

.image-for-news {
  display: flex;
  position: absolute;
  z-index: 0;
  border-radius: 11px;
}
.News-oval {
  color: white;
  padding-top: 3%;
  margin-left: 1%;
  margin-top: 1%;

  width: 34em;
  height: 3em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  

  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}
.News-oval p{
  margin-top: -3%;
  margin-left: 2%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.bottom-oval {
  background-color: #101f27;
  border-radius: 18px;

  margin-top: -15%;
  position: relative;
  z-index: 3;
  height: 5em;
  width: 35em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}

.News-oval a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-left: 0px;
}
.SecondNew {
  position: absolute;
  margin-left: 40%;
  border-radius: 7px;

  background-color: black;
  width: 35em;
  height: 21.5em;
}
/* Acceries */
.Accesories h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 15%;
}
/* Interesting info */
.Interesting-info {
  width: 100%;
  height: 100%;
}
.Interesting-info h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 15%;
  margin-top: 18%;
}
.Info-line {
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}
.FirstInfo {
  position: absolute;

  border-radius: 7px;

  background-color: black;
  width: 20em;
  height: 21.5em;
}
.sb-info {
  background-color: #101f27;

  height: 19.5em;
  width: 18.5em;
  border-radius: 15px;
  margin-left: 3%;
  margin-top: 3%;
  background-size: cover;
  z-index: 0;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */

  background-repeat: no-repeat;
}
.tb-info {
  background-color: #101f27;
  border-radius: 15px;
  margin-left: 1%;
  margin-top: 1%;
  position: relative;
  z-index: 1;
  height: 18.4em;
  width: 18em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}
.image-for-info {
  display: flex;
  position: absolute;
  z-index: 0;
  border-radius: 11px;
}
.info-oval {
  color: white;
  padding-top: 3%;
  margin-left: 1%;
  margin-top: 1%;

  width: 19.5em;
  height: 3em;
  z-index: 1;
  background-color: #101f27;
  border-radius: 18px;
  text-align: center;

  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}
.bottom-oval-info {
  background-color: #101f27;
  border-radius: 18px;

  margin-top: -15%;
  position: relative;
  z-index: 3;
  height: 4em;
  width: 20em;
  align-items: center;
  border: 1px /* width */ solid /* style */ #feebf6; /* color */
}

.info-oval a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-left: 0px;
}
.SecondInfo {
  position: absolute;
  margin-left: 25%;
  border-radius: 7px;

  background-color: black;
  width: 20em;
  height: 21.5em;
}
.ThirdInfo {
  position: absolute;
  margin-left: 50%;
  border-radius: 7px;

  background-color: black;
  width: 20em;
  height: 21.5em;
}
.button-know-more {
  border: none;
  background-color: rgba(128, 128, 128, 0.1);
  border: 3px /* width */ solid /* style */ #feebf6; /* color */
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  
  cursor: pointer;
  font-weight: bold;
  font-style: normal;

  margin-top: 15%;
  margin-left: 42%;

  line-height: 23px;
  line-height: 100%;
  align-items: Left;
  border-radius: 9px;
  
}
/* Contacts */
.wrapper-map-contacts{
  display: flex; /* создаем гибкую обертку */
  justify-content: space-between; /* располагаем блоки слева и справа */
  align-items: center; /* выравниваем элементы по центру */
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
  
  

}
.Contacts{
  
  min-height: 100%;
  width: 37%;
  height: 105%;
  white-space: nowrap;
  background-image: url(/images/Rectangle315.png);
  margin-left: 10%;
  background-size: cover;
margin-top: 5%;
  background-repeat: no-repeat;
  border-radius: 11px;
  

}

.Contacts h2{
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-left: 7%;
  padding-top: 3%;
}
.Contacts h4{
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 9%;
  
}
.Contacts a {
  font-size: 20px;
  
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
 
}
.Contacts p{
  width: 50%;
  
}

.Contacts a i, .Contacts a p {
  display: inline-block;
  vertical-align: middle;
 
  
}
.fa-phone, .fa-envelope, .fa-location-dot, .fa-clock{
  margin-left: 8%;
}
.fa-phone p, .fa-envelope p, .fa-location-dot p{
  margin-left: 7%;
}
.fa-clock p{
  margin-left: 9%;
}

.Contacts a p{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
#nameInput {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 80%;
}

#nameInput::placeholder {
  color: white;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

#phoneInput {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 80%;
}

#phoneInput::placeholder {
  color: white;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
#commentInput {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 80%;
}

#commentInput::placeholder {
  color: white;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.inputs{
  display: flex;
  margin-left: 8%;
  flex-direction: column;
 
}
.inputs h3{
 
  font-size: 17px;
  
  color: #fff;
  
  font-family: "Roboto", sans-serif;
}

.Text-name{
  margin-top: -2%;
}
.button-inputs{
  border: none;
  background-color: white;
  color: black;
  padding: 2% 21%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
margin-left: 8%;
margin-bottom: 2%;
  

  
  line-height: 100%;
  align-items: Left;
  border-radius: 9px;
  margin-top: 5%;
}
iframe{
  margin-top: 5%;
 height: 14.8%;
 width: 40%; 
 margin-left: 53%;
   position: absolute;
  border-radius: 11px; 
   
        
}
.fa-user{
  color: #fff;
  transform: color 0.3s linear;
}
.fa-cart-shopping{
  color: #fff;
  transform: color 0.3s linear;
}
.fa-phone{
  color: #fff;
  transform: color 0.3s linear;

}
.fa-user:hover {
  color: #BA55D3;
}
.fa-cart-shopping:hover {
  color: #BA55D3;
}
/* Dropduwn */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Swiper */
.Button-prev, .Button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
 
        
  
}

.Button-prev {
  margin-left: -10%;
}

.Button-next {
  right: 10px;
}




